* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* BASIC CSS END */




/* BODY CSS START FROM HERE */

.testimonial {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #fcf3f3;
}

 .testimonial h2 {
    font-family: "Poppins", serif;
    font-size: 36px;
    font-weight: 700;
    margin-left: 25px;
}

.testimonial .container .row .sub-text {
    font-family: "Poppins", serif;
    font-size: 18px;
    margin-left: 25px;
}

.testimonial .container .row .first-row {
    background: white;
    padding: 25px;
    margin: 25px;
    border-radius: 8px;
}

.testimonial .container .row .first-row p {
    font-size: 15px;
    font-family: "Poppins", serif;
}

.testimonial .container .row .first-row span {
    font-family: "Poppins", serif;
    font-size: 14px;
    color: #2c2c2c
}

.testimonial .container .row .first-row .opacity-text {
    font-family: "Poppins", serif;
    font-size: 14px;
    color: #a7a7a7
}

/* TESTIMONIAL FIRST SECTION CSS END HERE */

/* TESTIMONIAL SECOND SECTION CSS STARTED FROM HERE */

.testi-sec-two {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #ffffff;
}

.owner-img .owner-pic {
    border-radius: 50%;
    border: 2px dotted #a7a7a7;
}


.owner-img {
    margin-bottom: 10px;
    margin-top: 20px;
}


.testi-box {
    background: #FBFBFB;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -9px 20px 10px 3px #79797921;
    transition: .2s all;
}


.testi-box:hover {
    background: #FBFBFB;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -9px 20px 10px 3px #00000047;
}